/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Typography */
html {
    font-size: 18px;
}

body {
    font-family: "Nunito", sans-serif;
    line-height: 2rem;
    color: rgb(8, 8, 16);
}

h1 {
    font-size: 5rem;
    font-weight: 9000;
    letter-spacing: 3px;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

p {
    margin-bottom: .5rem;
}

p.tag {
    margin: 0;
}

p.small {
    font-size: 0.8rem;
}

p.large {
    font-size: 1.3rem;
}

a {
    font-weight: 500;
    text-decoration: none;
    color: rgb(240, 108, 155);
}

a:hover {
    color: #ffdc5e
}

.small a li {
    font-size: .3rem;
}

.navigator a {
    font-size: 1.8rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navigator a:hover {
    color: rgb(240, 108, 155);
}

/* Container */
.container {
    width: 85%;
    margin: 0 auto;
}

/* Navigation Bar */
.navigator {
    padding: 1.5rem 0;
    background-color: rgba(150, 201, 220, 0.8);
    position: sticky;
    top: 0;
}

.navigator ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

}

/* Sections */
section {
    padding: 8rem 0;
}

/* About me */
#about h1 {
    margin: 4rem 0;
}

#about p {
    margin-bottom: 1.5rem;
}

.social-icons {
    list-style: none;
    display: flex; 
    justify-content: start;
    align-items: center;
    gap: 2rem;
}

.social-icons img {
    width: 40px;
}

.container .hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    justify-content: center;
}

/* Projects */

#projects {
    background-color: rgba(240, 108, 154, 0.15)
}

#projects h2 {
    margin-bottom: 1.5rem;
}

#projects h3 {
    margin: 1.5rem 0;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.gallery img {
    width: 100%;
    outline: 2px solid rgba(150, 201, 220);  
}

.gallery img:hover {
    outline: 2px solid rgb(240, 108, 155); 
}

.gallery a {
    color: rgb(150, 201, 220);
}

.gallery a:hover,
.gallery img:hover {
    color: rgb(240, 108, 155);
    outline-color: rgb(240, 108, 155);;
}

.tag {
    font-size: .8rem;
    display: inline-block;
    background-color: rgba(150, 201, 220, 0.8);
    color: rgba(255, 255, 255);
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    border-radius: 20px;
    
}

/* Resume */


footer {
    padding: 1.3rem ;
    background-color: rgba(150, 201, 220, 0.5);
}

footer p.small {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer ul {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}



/* Try to put the anchor tag around a whole prject div and see if you can outline it if you hover over it using #projects a:hover */



